/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2018, 19:30:37
    Author     : arnaudlegrignou
*/

/*Définition des variables ------------------------------------------*/


:root{
    --dark1 : #1E4952;
    --dark2 : #838D8F;
    --pale1 : #13617B;
    --pale2 : #9AB5CA;
    --yellow1 : #ED9645;
    --yellow2 : #F1B074;
    --pale2-rgba : 151,178,197,0.8;   
}

/*Gestion de la forme générale ----------------------------------------*/

html {
    height: 100%;
    background-image: url(../images/wall.jpg);
    background-size: 100% 100%; 
}

body{
    height: 100%;
    width : 1200px;
    padding:0;
    margin : auto;
    background: rgba(var(--pale2-rgba));
}

header{
    color: var(--dark1);
    text-align: center;
    height : 100px;
    width : auto;
    margin:auto;
    padding: 2%;
}
h1{
    display: relative;
    font-size: 38px;  
    width : auto;
    margin:auto;
}

footer{
    margin: 1% auto;
    height : 10%;
    width : 60%;
    padding: 2%;   
}

form{
    display : inline-block;
    padding : 0;
    width : 880px;
    height : auto;
    margin-left :34px;
}

/*Gestion de lignes-------------------------------------------------------*/

.standardLine{
    height:54px;   
}

.loginLine{
    height:54px; 
    width: auto;  
}

.dataLine{
    height:54px; 
}

.securityLine{
    height : 68px;
    
}

.buttonLine{
    height : 44px; 
}


/*Gestion des etiquettes------------------------------------------------------*/

.dataLabel,.securityLabel{
    display: inline-block;
    height : 30px;
    vertical-align: top;
    margin-top : 10px;
}

.dataLabel{
    width : 100px;
}

.securityLabel{
    display : inline-block;
    width : 280px;
}

/*Gestion des champs de saisie------------------------------------------------*/

.dataField,.securityField,.loginField{
    display : inline-block;
    vertical-align: top;
    border:none;
    font-size: 14px;
    height : 40px;
}

.loginField{
    width:250px;
}

.dataField{
    display : none;
    width : 300px;
    margin-left: 10px;
}

.securityField{
    display: inline-block;
    height : 40px;
    width: 500px;
    margin-left: 10px;
    vertical-align: top;
}

#double{
    width: 1000px;
}

/*Gestion de l'affichage des données------------------------------------------*/

.dataColon{
    display : inline-block;
    vertical-align: top;
    height : 30px;
    margin-top : 10px;
    width : 20px;
    
}

.data,.dataID{
    display : inline-block;
    vertical-align: top;
    margin-top : 10px;
    width : 300px;
    height : 30px;
    margin-left: 10px;
}

.QRcontainer{
    display: inline-block;
    vertical-align: top;
    width : 250px;
    height: 250px;
    background : red;
}

QRframe{
    display : inline-block;
    width : 100%;
    height : 100%;
    
}



/*Gestion des boutons---------------------------------------------------------*/

a{
    text-decoration : none;
    
}

input[submit],input[button]{
    cursor:pointer;
    
}


.log{
    width: 40px;
    height : 40px;
    background: url(../images/validate.png);
    background-size : 100% 100%;
}

.forget{
    width: 210px;
    height : 40px;
    padding-left : 40px;
    text-decoration: none;
    vertical-align: top;
    background: url(../images/forget.png);
    background-repeat: no-repeat;
    background-color : #25B7D3;
    background-size : 36px 36px;
}


.link{
    margin-top : 10px;
    text-decoration: none;
}

.link:hover{
    text-shadow : 1px 1px 4px white ;
    cursor : pointer;
    text-decoration: underline;
    
}

.cancel{
    display : none;
    width: 40px;
    height : 40px;
    background: url(../images/cancel.png);
    background-color: red;
    background-size : 100% 100%;
}

.validate{
    display : none;
    width: 40px;
    height : 40px;
    background: url(../images/validate.png);
    background-size : 100% 100%;
}

.modify{
    width: 40px;
    height : 40px;
    background: url(../images/modify.png);
    background-size : 100% 100%;
}

.allModify{
    display : inline-block;
    vertical-align: top;
    width: 484px;
    height : 40px;
    padding-left : 40px;
    background-image: url(../images/modify.png);
    background-repeat: no-repeat;
    background-color : #60ADDA;
    background-size : 36px 36px;
    
}

.security{
    display : inline-block;
    vertical-align: top;
    width: 484px;
    height : 40px;
    padding-left : 40px;
    text-decoration: none;
    background-image: url(../images/security.png);
    background-repeat: no-repeat;
    background-color : #FEC057;
    background-size : 36px 36px;   
}

.logout{
    display : inline-block;
    vertical-align: top;
    width: 484px;
    height : 40px;
    padding-left : 40px;
    text-decoration: none;
    background-image: url(../images/logout.png);
    background-repeat: no-repeat;
    background-color : #7FCB35;
    background-size : 36px 36px;   
}

.back{
    width: 40px;
    height : 40px;
    background: url(../images/back.png);
    background-size : 100% 100%;  
}

.QRcode{
    background : orange;
    display: inline-block;
    background: url(../images/qrcode.png);
    background-size :36px 36px;
    background-color: lightsalmon;
    background-repeat: no-repeat;
    height : 40px;
    width: 500px;
    padding-left:40px;
    margin-left: 10px;
    vertical-align: top;
}

.login{
    display : inline-block;
    vertical-align: top;
    width: 484px;
    height : 40px;
    padding-left : 40px;
    text-decoration: none;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-color : #4CA5A2;
    background-size : 36px 36px;   
}

/*Gestion des erreus---------------------------------------------------------*/

.erreur{
    width: 200px;
    height : 22px;
    color:red;
}

.securityErreur{
    display : block;
    width: 500px;
    height : 20px;
    vertical-align: top;
    margin-top: 0;
    margin-left : 320px;
}

