/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2018, 19:30:37
    Author     : arnaudlegrignou
*/

body{
    padding:0;
    margin:0;
}

header{
    margin: 0px auto;
    width : 60%;
    padding: 5px 20px 5px 20px;
}



h1{

}

form{
    display:block;
    padding : 20px;
    width : 60%;
    height : 1000px;
    margin: 10px auto;
}

.dataLine,.securityLine,.standardLine, .loginLine{
    height:50px;
    
    
}
.dataLabel{
    display : inline-block;
    width : 100px;}

.deux{
    display:inline-block;
    width:20px;  
}

.dataField,.securityField,.loginField{
    height : 28px;

    
}

.loginField{
    width:300px;
}

.data,.dataID{
    display : inline-block;
    width : 220px;
    margin-left: 10px;
}

.dataField{
    display : none;
    width : 300px;
    margin-left: 10px;
}

.securityLabel{
    display : inline-block;
    width : 260px;
}
.securityField{
    display: inline-block;
    width: 500px;
    margin-left: 10px;
    margin-top : 10px;
}

.cancel{
    display : none;
}

.validate{
    display : none;
}

.bouton{margin-top:10px;}