/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2018, 19:30:37
    Author     : arnaudlegrignou
*/

html {
  height: 100%;
}

body{
    height: 100%;
    width : 1000px;
    padding:0;
    margin : auto;
}

header{
    margin: auto;
    height : 10%;
    width : auto;
    margin:auto;
    padding: 2%;
}
h1{
    display : inline-block;   
    width : auto;
    margin:auto;
}

footer{
    margin: 1% auto;
    height : 10%;
    width : 60%;
    padding: 2%;   
}

form{
    display : relative;
    padding : 4%;
    width : auto;
    height : auto;
    margin: 5% auto;
}

.dataLine,.securityLine,.standardLine, .loginLine{
    height:54px; 
}

.loginLine{
    width: auto;
}


.dataLabel{
    display : inline-block;
    width : 100px;}


.dataField,.securityField,.loginField{

    height : 30px;

    
}

.loginField{
    width:250px;
}

.data,.dataID{
    display : inline-block;
    width : 220px;
    height : 30px;
    margin-left: 10px;
}

.dataField{
    display : none;
    width : 300px;
    margin-left: 10px;
}

.securityLabel{
    display : inline-block;
    width : 260px;
}
.securityField{
    display: inline-block;
    width: 500px;
    margin-left: 10px;
    vertical-align: middle;
}



.bouton{
    width: 250px;
    height : 30px;
}

.erreur{
    width: 200px;
    height : 20px;
}

.link{
    margin-top : 10px;
}

.cancel{
    display : none;
}

.validate{
    display : none;
}

