<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.DataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/private</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/public</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SecurityServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.SecurityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/security</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UIDServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.UIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UIDServlet</servlet-name>
        <url-pattern>/uid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewPassServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.NewPassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPassServlet</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>CheatServlet</servlet-name>
        <servlet-class>fr.ensta.ldapmanager.control.CheatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheatServlet</servlet-name>
        <url-pattern>/cheat/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>
